.imgstyle {
  margin-left:668px;
}
.data{
  margin-left: -70%;
}
.hcenter
{
margin-left:-185px;
}
.category
{
  margin-left: 1.5%;
}
.display
{
  margin-left: -70%;
}
.order
{
    margin-left: -50%;
    margin-top: 8%;
}
